* {
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: HelveticaNeueLTStd-Roman-Normalized, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.top-area {
    text-align: center;
    position: fixed;
    background: rgba(233, 233, 233, 0.171);
    top: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    color: #fff;

}

.header {
    background: url('https://images.ctfassets.net/u860i9c783wb/6f8xBZINkW2FquWTXcHO5i/f6da0571ae9ee931ea472cf7bffa9748/042720_HP_v2.jpg?w=1536&fit=fill&f=top&q=75&fm=webp');
    height: 93vh;
    background-size: cover;
}

.cancel {
    float: right;
    margin: 0 1rem;
}

.navigation {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;

}

#soulcycle-logo-icon {
    fill: #fff;
    width: 15rem;
    margin: 0;
    padding: 0;
}

.navigation__link--group {
    display: flex;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.navigation__link--item,
.navigation__link--item:link,
.navigation__link--item:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.navigation__link--item:hover,
.navigation__link--item:active {

    color: #fff;
}

.navigation__login--group {
    display: flex;
}

.navigation__login--item,
.navigation__login--item:link,
.navigation__login--item:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.navigation__login--item:active,
.navigation__login--item:hover {
    color: #fff;
}

.primary__heading {
    font-size: 5rem;
    line-height: 1;
    color: #fff;
    padding: 1rem 0;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 1rem;
    font-weight: bold;
}

.btn-yellow {
    background: #FFDE00;
}

.header__heading {
    padding: 15rem 0;
}

.mt-header {
    margin-top: 4rem;
}

.text-center {
    text-align: center;
}

.heading-secondary {
    font-size: 2.7rem;
    font-weight: 300;
}

.yellow-hr::before {
    content: "";
    display: block;
    width: 2.7rem;
    height: 2px;
    background: #FFDE00;
    margin: 1rem auto;

}

.section-getmoresoul {
    padding: 7rem 0;
}

.get-more-soul__box--group {
    display: flex;
    justify-content: space-evenly;
}

.get-more-soul__box--item {
    position: relative;
    width: 38rem;
    height: 50rem;

}

.get-more-soul__box--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.get-more-soul__box--text {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    width: 80%;
    padding: 2rem 0;
    margin: 0 10%;
}

.soul__text--header {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.soul__text--subtitle {
    font-size: 2.5rem;
    line-height: 1.3;
    padding: 1rem 0;
}

.mt-6 {
    margin-top: 5rem;
}

.text-white {
    color: #fff;
}

.move-your-body {
    width: 90%;
    margin: 0 5%;
}

.move-your-body__p {
    width: 90%;
    margin: 0 5%;

    font-size: 2.5rem;
    text-align: center;
    color: rgb(83, 86, 90);
}

.mt-6 {
    margin-top: 3rem;
}

.section-features-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 9rem 0;
}

.section-heading {
    font-size: 5rem;
    line-height: 1;
    color: #000;
}

.section-features-item {
    flex-basis: 40%;
}

.section-features-item-2 {
    flex-basis: 55%;

}

.section-feature-p {
    color: rgb(83, 86, 90);
    font-size: 2rem;
    padding: 3rem 0;


}

.section-features-img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: top;
}

.section-feature__link {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #000;
}

.pr {
    padding-left: 2rem;
}